<div class="site-title-container">
    <p class="site-title"><a href="/blog">{{ site.Title }}</a></p>

  <div class="bouncing-text-container">
    <a href="/">
    <span>
      <div class="bouncing-text">き</div>
      <div class="bouncing-text">か</div>
      <div class="bouncing-text">い</div>
      <div class="bouncing-text">と</div>
      <div class="bouncing-text">な</div>
      <div class="bouncing-text">か</div>
      <div class="bouncing-text">よ</div>
      <div class="bouncing-text">く</div>
      <div class="bouncing-text">★</div>
    </span>
    </a>
  </div>
</div>
