<div class="widget profile-widget">
  <a href="{{ "/about" | relURL }}">
    <img src="{{ "/logo.png" | relURL }}" alt="プロフィール画像" class="profile-icon">
  </a>
  <h3><a href="{{ "/about" | relURL }}">ぎがおにおん</a></h3>
  <p>高校時代にLinuxサーバを構築して以来，インフラと低レイヤ技術の世界に魅了された人間．多趣味な飽き性で，技術もそれ以外も広く深く探求しています．</p>
  <div class="social-links">
    <a href="https://github.com/gigaonion" target="_blank" rel="noopener noreferrer" title="GitHub" class="github">G</a>
    <a href="https://bsky.gigaonion.com" target="_blank" rel="noopener noreferrer" title="Bluesky" class="bluesky">B</a>
  </div>
</div>
